---
const title = "Open Day | MCKL College";
const microsite_source = "open-day";
const return_url = `https://mckl.edu.my/${microsite_source}/thank-you`;
const { homepage_path = `/${microsite_source}`, is_thank_you = false } =
  Astro.props;

import SectionOpendayJuneEvent from "./_SectionOpendayJuneEvent.astro";

import Testimonial from "../../components/Testimonial.astro";
import ExcellenceAwardTestimonials from "../../content/_testimonials-excellence_award_2023.json";
import testimonial_heading from "../../assets/scholarship/excellence_award_2023-congratulation.png";

// images
const bg_mobile = "/images/bg/230530-openday-bg-mobile.jpg";
const bg_laptop = "/images/bg/230530-openday-bg-mobile.jpg";
const bg_desktop = "/images/bg/230530-openday-bg-desktop.jpg";
// const bg_mobile = "/images/bg/230404-open_day-bg-mobile.jpg";
// const bg_laptop = "/images/bg/230404-open_day-bg-mobile.jpg";
// const bg_desktop = "/images/bg/230404-open_day-bg-desktop.jpg";
// import bg_mobile from "@assets/open-day/openday-bg-mobile.jpg";
// import bg_laptop from "@assets/open-day/openday-bg-mobile.jpg";
// import bg_desktop from "@assets/open-day/openday-bg-desktop.jpg";
// import bg_mobile from "@assets/open-day/230106-bg-openday-mobile.jpg";
// import bg_laptop from "@assets/open-day/230106-bg-openday-laptop.jpg";
// import bg_desktop from "@assets/open-day/230106-bg-openday-desktop.jpg";
// import bg_mobile from "@assets/bg/221205-bg-openday-mobile.jpg";
// import bg_laptop from "@assets/bg/221205-bg-openday-laptop.jpg";
// import bg_desktop from "@assets/bg/221205-bg-openday-desktop.jpg";

import tagline_believe_aspire_excel from "@assets/general/tagline-believe_aspire_excel.png";
import form_support from "@assets/open-day/form_support168337539_l.jpg";

import icon_bursary from "@assets/icon/icon1-bursary.png";
import icon_merit from "@assets/icon/mckl-merit.png";
import icon_waiver from "@assets/icon/icon4-feewaiver.png";

import icon_briefcase from "@assets/icon/briefcase.png";
import icon_ireland_uk from "@assets/icon/icon-ire_uk.svg";

import icon_trackrecord1 from "@assets/icon/business-icon-1.png";
import icon_trackrecord2 from "@assets/logo/logo-acca_approved_learning_partner.svg";
import icon_trackrecord3 from "@assets/icon/business-icon-2.png";
import icon_trackrecord4 from "@assets/icon/business-icon-3.png";
import icon_trackrecord5 from "@assets/icon/business-icon-4.png";

import testimonial_sarah from "@assets/testimonial/open-day/testimonial-sarah.jpg";
import testimonial_ethanwong from "@assets/testimonial/open-day/testimonial-ethanwong.jpg";
import testimonial_jia_ern from "@assets/testimonial/open-day/testimonial-jia_ern.jpg";
import testimonial_jesselyn from "@assets/testimonial/open-day/testimonial-jesselyn.jpg";
import testimonial_jilian from "@assets/testimonial/open-day/testimonial-jilian.jpg";
import testimonial_angelia from "@assets/testimonial/open-day/testimonial-angelia.jpg";
import testimonial_vija from "@assets/testimonial/open-day/testimonial-vija.jpg";
import testimonial_denise from "@assets/testimonial/open-day/testimonial-denise.jpg";
import testimonial_ranimah from "@assets/testimonial/open-day/testimonial-ranimah.jpg";

// components
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import SectionMasthead from "@components/section-masthead.astro";
import SectionPartners from "@components/section-partners.astro";
import SectionAboutmckl from "@components/section-aboutmckl.astro";
import SectionRegistration from "@components/section-registration.astro";

import CardIcon from "@components/CardIcon.astro";
import CardProgramme from "@components/CardProgramme.astro";

import ZohoWebform from "@components/ZohoWebform.vue";
import BsAccordion from "@components/BsAccordion.vue";
import SwiperTestimonial from "@components/SwiperTestimonial.vue";

// programmes
import * as cambridge_a_level_prepcal from "../../programmes/cambridge_a_level_prepcal.md";
// import * as prepausmat from "../../programmes/prepausmat.md";

import * as cambridge_a_level from "../../programmes/cambridge_a_level.md";
import * as ausmat from "../../programmes/ausmat.md";

import * as adtp from "../../programmes/adtp.md";
import * as dece from "../../programmes/dece.md";
import * as dsw from "../../programmes/dsw.md";
import * as dcs from "../../programmes/dcs.md";
import * as dit from "../../programmes/dit.md";

import * as ddb from "../../programmes/ddb.md";
import * as ddm from "../../programmes/ddm.md";
import * as dft from "../../programmes/dft.md";

import * as acca_fia from "../../programmes/acca_fia.md";
import * as acca from "../../programmes/acca.md";

import * as cictl from "../../programmes/cictl.md";
import * as cidtl from "../../programmes/cidtl.md";
import * as icdl from "../../programmes/icdl.md";
import * as micro_credential from "../../programmes/micro_credential.md";
import * as education_management from "../../programmes/education_management.md";
import * as teaching_learning from "../../programmes/teaching_learning.md";

const nav__items = [
  {
    name: "About MCKL",
    href: "#about",
  },
  {
    name: "Highlights",
    href: "#highlights",
  },
  {
    name: "Programmes",
    href: "#programmes",
  },
  {
    name: "Register Today",
    href: "#registration",
    nav_link_class: "btn btn-danger",
  },
];

const card_icons = [
  // {
  //   title: "RM500 Rebate Voucher*",
  //   img_src: icon_waiver,
  // },
  {
    title:
      "<span>Up to 100% Merit Scholarship*<br /><small><i>On-The-Spot Confirmation</i></small></span>",
    img_src: icon_merit,
  },
  {
    title: "50% Tuition Fee Waiver*",
    img_src: icon_bursary,
  },
  {
    title: "Scholarships & Financial Aid*",
    img_src: icon_merit,
  },
  {
    title:
      "Top Up 1 year to complete your degree in Ireland & United Kingdom*",
    img_src: icon_ireland_uk,
  },
  {
    title: "Internship & Career Opportunities",
    img_src: icon_briefcase,
  },
];

const card_track_records = [
  {
    img_src: icon_trackrecord1,
    title: "Globally Recognised",
    desc: "Providing renowned professional pre-university and tertiary programmes.",
  },
  {
    img_src: icon_trackrecord2,
    title: "Platinum Status ACCA",
    desc: "The most prestigious level as Approved Learning Partner with the highest standards and proven record to sustain student pass rates.",
  },
  {
    img_src: icon_trackrecord3,
    title: "Industry Revolution 4.0",
    desc: "Operations & learning system in line with the IR 4.0 environment.",
  },
  {
    img_src: icon_trackrecord4,
    title: "Microsoft Recognition",
    desc: "Providing flexibility with 100% blended learning via Microsoft cloud learning system.",
  },
  {
    img_src: icon_trackrecord5,
    title: "MCKL DNA",
    desc: "Nurturing students with Character Formation and Service Learning programmes throughout their studies.",
  },
];

const testimonials = [
  {
    name: "Sarah Marie Alicia Anthony",
    desc: [
      "American Degree Transfer Program, MCKL",
      "Theology & Criminology, Loyola University Chicago, USA",
    ],
    quote:
      "ADTP@MCKL has given me a realistic expectation of how education in the United States is. We were taught and graded with an equivalent standard, preparing us for the quality and critical thinking level abroad. MCKL also prepared us in terms of both U.S. academics and lifestyle.",
    img_src: testimonial_sarah,
  },
  {
    name: "Ethan Wong",
    desc: [
      "American Degree Transfer Program, MCKL",
      "Computer Science, Messiah College, USA on Provost Scholarship",
    ],
    quote:
      "ADTP@MCKL not only emphasises on your academics but the ability to express yourself. I was able to study at Oxford University through my study abroad programme at Messiah College. Overall, it was a humbling experience being able to learn at top universities around the world.",
    img_src: testimonial_ethanwong,
  },
  {
    name: "Tee Jia En",
    desc: ["ACCA, MCKL", "RCE Capital Berhad"],
    quote:
      "I first completed my F1 paper at a tuition provider and was then moving around different colleges to complete my ACCA studies according to the lecturers’ capability, but after completing my F6, F7 and F8 in MCKL, I decided to continue my ACCA journey here due to the facilities, environment and especially the many friends I made.",
    img_src: testimonial_jia_ern,
  },
  {
    name: "Jesselyn Sin Jun Yi",
    desc: [
      "Bachelor of Medical Science and Doctor of Medicine,",
      "Monash University Australia",
    ],
    quote:
      "My choice to study in MCKL was truly an excellent decision as I had dedicated lecturers who encouraged me to excel, leading to me being awarded the Cambridge Outstanding Learners Award for the October/ November 2019 examination series as Top in the World for Chemistry AS level. I will recommend MCKL without hesitation to any prospective students.",
    img_src: testimonial_jesselyn,
  },
  {
    name: "Jilian Tai Ju-En",
    desc: [
      "Australian Matriculation, MCKL",
      "Physiotherapy, Curtin University, Australia",
    ],
    quote:
      "I was convinced to join MCKL for its strong reputation and affordable fees. Starting off with the AUSMAT programme, I begin to see college life is about both learning and developing a robust social life. I successfully achieved ATAR 97.85, while also emerging as frisbee champions at the Malaysia University Ultimate Championships 2019.",
    img_src: testimonial_jilian,
  },
  {
    name: "Angelia Gan Lee Fan",
    desc: ["Diploma in Social Work, MCKL"],
    quote:
      "I always wanted to help in social work but at times I feel incapable because I do not know what the right approaches are. After joining DSW@MCKL, it helped me to be professional when doing social work, nonjudgmental, more competent and respectful at the same time.",
    img_src: testimonial_angelia,
  },
  {
    name: "Vijayan Ramasami",
    desc: ["Diploma in Social Work, MCKL"],
    quote:
      "MCKL’s programme has helped me look at social work from a wider perspective. Prior to this, I solely depend on my limited experience and basic internal training skills. The course has given me the ability to improve my practice at every level, right from initial contact, assessment, case planning, residential care, community-based recovery and beyond.",
    img_src: testimonial_vija,
  },
  {
    name: "Denise Thean Pui Yan",
    desc: [
      "Diploma in Early Childhood Education, MCKL",
      "Bachelor of Early Childhood Care and Education, Institute of   Technology, Tralee, Ireland",
    ],
    quote:
      "Part of the memorable experience at MCKL was being taught by kind and diligent lecturers. They presented lectures in an easy-to-understand way to accommodate students from various backgrounds and proficiency levels of English language while never compromising on the quality of their classes.",
    img_src: testimonial_denise,
  },
  {
    quote:
      "Despite starting school only at the age of nine, I now have the highest education qualification in my family from Kampung Perupuk Pitas, Sabah. Thanks to MCKL, I now have a Diploma in Early Childhood Education and am currently able to work in the city to support my family.",
    name: "Ranimah Oransum",
    desc: ["Diploma in Early Childhood Education, MCKL"],
    img_src: testimonial_ranimah,
  },
];

import { getCollection } from "astro:content";

interface Props {
  post: CollectionEntry<"course">;
}

const courses_teaching_learning = await getCollection("course", ({ data }) => {
  const excludeTitles = [
    "Cambridge International Certificate in Teaching & Learning",
    "Cambridge International Diploma in Teaching & Learning",
  ];

  return (
    data.isDraft === false &&
    data.tags.includes("short-courses") &&
    data.tags.includes("teaching-learning-education-development-courses") &&
    !excludeTitles.includes(data.title)
  );
});
---

<Layout
  title={title}
  toast_img_src="/images/230530-blurp-100merit.png"
  toast_href="/scholarship"
  toast_hide={false}
>
  <Header homepage_path={homepage_path} nav__items={nav__items} />

  <main class="main">
    {is_thank_you && <slot name="thank-you" />}

    <SectionMasthead
      bg_mobile={bg_mobile}
      bg_laptop={bg_laptop}
      bg_desktop={bg_desktop}
      bg_img_style="object-position: center"
      href="/open-day#registration"
    >
      <a class="masthead__link" href="/open-day#registration"></a>
      <style>
        .masthead__link {
          display: block;
          width: 50%;
          height: 20%;
          margin: auto;
          margin-bottom: 0;
        }
        @media (min-width: 992px) {
          .masthead__link {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
          }
        }
      </style>
    </SectionMasthead>
  </main>

  <!-- intro -->
  <section
    class="bg-primary py-4 text-center border-bottom border-secondary text-light text-light__heading pt-5"
    style="border-width: 6px !important"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <img
            width="420"
            src={tagline_believe_aspire_excel}
            alt="Believe. Aspire. Excel."
          />
          <h2>We believe in your dreams.</h2>
          <p>
            At MCKL's Open Day, you can discover our programmes and campuses and
            gain an insight into your college life, bringing you closer to
            achieving your goals and future prospects.
          </p>
        </div>
      </div>
    </div>
  </section>

  <SectionAboutmckl>
    <section slot="after_content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <p>
              MCKL always seeks to provide opportunities to deserving students.
              For more information please fill in the form below and we will get
              in touch with you.
            </p>
          </div>
        </div>
        <div
          id="highlights"
          class={`row justify-content-center row-cols-2 row-cols-sm-3 mt-5 text-center ${
            card_icons.length >= 6 ? "row-cols-lg-4" : "row-cols-lg-5"
          }`}
        >
          {
            card_icons.map((item) => (
              <div class="col">
                <CardIcon item={item} classes="card__icon--large" />
              </div>
            ))
          }
        </div>
        <div class="row text-center">
          <div class="col">
            <p><small>*Terms & Conditions apply.</small></p>
          </div>
        </div>
        <div class="row justify-content-center my-4">
          <div class="col-auto">
            <a href="./#registration" class="btn btn-danger">Enquire today</a>
          </div>
        </div>
      </div>
    </section>
  </SectionAboutmckl>

  <SectionPartners />

  <SectionOpendayJuneEvent />

  <!-- programmes-offered -->
  <section id="programmes" class="py-5">
    <div class="container">
      <div class="row justify-content-center text-center mb-3">
        <div class="col-auto">
          <h2>Programmes Offered in 2023</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <BsAccordion
            client:idle
            show_first={true}
            accordion_id="programme"
            accordion_items={[
              { title: "Preparatory Course" },
              { title: "Pre-University" },
              { title: "Undergraduate Programme" },
              { title: "Professional Accounting" },
              { title: "Professional Development" },
            ]}
          >
            <div slot="content-0">
              <CardProgramme content={cambridge_a_level_prepcal.frontmatter} />
              <!-- <CardProgramme content={prepausmat.frontmatter} /> -->
            </div>
            <div slot="content-1">
              <CardProgramme content={cambridge_a_level.frontmatter} />
              <CardProgramme content={ausmat.frontmatter} />
            </div>
            <div slot="content-2">
              <CardProgramme content={adtp.frontmatter} />
              <CardProgramme content={dece.frontmatter} />
              <CardProgramme content={dsw.frontmatter} />
              <CardProgramme
                content={dcs.frontmatter}
                compiledContent={dcs.compiledContent()}
              />
              <CardProgramme
                content={dit.frontmatter}
                compiledContent={dit.compiledContent()}
              />
              <CardProgramme
                content={ddb.frontmatter}
                compiledContent={ddb.compiledContent()}
              />
              <CardProgramme content={ddm.frontmatter} />
              <CardProgramme content={dft.frontmatter} />
            </div>
            <div slot="content-3">
              <CardProgramme content={acca_fia.frontmatter} />
              <CardProgramme content={acca.frontmatter} />

              {
                [
                  "Short course in Strategic Business Leader (SBL)",
                  "Short course in Strategic Business Reporting (SBR)",
                  "Short course in Advanced Financial Management (AFM)",
                  "Short course in Advanced Taxation (ATX)",
                  "Short course in Advanced Audit and Assurance (AAA)",
                ].map((title) => (
                  <CardProgramme
                    content={{ title: title, new_programme: true }}
                  />
                ))
              }
            </div>
            <div slot="content-4">
              <CardProgramme
                content={cictl.frontmatter}
                style="border-bottom: 0"
              />
              <CardProgramme content={cidtl.frontmatter} />
              <!-- <CardProgramme content={icdl.frontmatter} /> -->
              <CardProgramme content={micro_credential.frontmatter} />
              <!-- <CardProgramme content={education_management.frontmatter} /> -->
              <!-- <CardProgramme content={teaching_learning.frontmatter} /> -->

              {
                courses_teaching_learning.map((item) => (
                  <>
                    <CardProgramme
                      content={{
                        title: item.data.title,
                      }}
                    />
                  </>
                ))
              }
            </div>
          </BsAccordion>
        </div>
      </div>
    </div>
  </section>

  <!-- track_record -->
  <section id="track_record" class="py-5 text-center">
    <div class="container">
      <div class="row row-cols-1 justify-content-center text-center">
        <h3 class="h4">Over 40 years of Proven Track Record</h3>
      </div>
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 justify-content-center my-4"
      >
        {
          card_track_records.map((item) => (
            <div class="col mb-4">
              <CardIcon item={item} />
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <!-- testimonial -->
  <section id="testimonial" class="my-5">
    <div class="container-lg">
      <div class="row text-center">
        <div class="col mb-3">
          <h2>Testimonial</h2>
          <p>Hear from our graduates</p>
        </div>
      </div>
      <div class="row">
        <SwiperTestimonial client:only="vue" content={testimonials} />
      </div>
    </div>
  </section>

  <!-- <section
      id="testimonial-excellence_award_2023"
      class="pb-5 scholarship2023__bg"
    >
      <div class="container-lg">
        <div class="row text-center">
          <img
            src={testimonial_heading}
            alt="MCKL Excellence Award 2023 - Congratulations to Our Scholars!"
          />
        </div>
        <div class="row">
          <Testimonial
            testimonials={ExcellenceAwardTestimonials}
            style="dark"
          />
        </div>
      </div>
    </section> -->

  <SectionRegistration
    img_src={form_support}
    img_style="object-fit: cover; width: 100%; height: 100%; object-position: 75% 20%;"
  >
    <div slot="content">
      <h2 class="h4">Enquire for personal education advice</h2>
      <p>Explore the right education programme that best fits you.</p>
      <ul>
        <li>
          Top Up 1 year to complete your degree in Ireland & United
          Kingdom*
        </li>
        <li>RM500 Rebate Voucher*</li>
        <li>50% Tuition Fee Waiver*</li>
        <li>100% Merit Scholarship Available*</li>
        <li>Internship & Career Opportunities</li>
        <li>Scholarships & Financial Aid*</li>
        <li>Personalised Counselling</li>
        <!-- <li>Complimentary MCKL Career Test</li> -->
        <li>Campus Tour</li>
        <li class="list-unstyled">
          <small>*Terms & Conditions apply.</small>
        </li>
      </ul>
      <ZohoWebform
        client:only="vue"
        return_url={return_url}
        microsite_source={microsite_source}
      />
    </div>
  </SectionRegistration>
</Layout>

<Footer />

<script>
  let test = {
    controlsText: [
      '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/></svg>',
      '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/></svg>',
    ],
  };
</script>
<style>
  .scholarship2023__bg {
    background-image: url("../../assets/bg/bg-scholarship-2209-scholarship.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<script>
  document.querySelector(
    "#page > div.main > div.container.beforeShakeContent > p.beforeShakeContent-small"
  ).inser`
  <br> <a class="text-white text-underline" href="/whats-new/" style="
      margin-top: 10px;
      display: block;
      text-decoration: underline;
      color: #fff;
  ">Untuk maklumat lanjut tentang peraduan, tekan sini</a>
  `;
</script>
