---
const title = "ACCA | MCKL College";
const microsite_source = "acca";
const return_url = `https://mckl.edu.my/${microsite_source}/thank-you`;
const programme_interested = {
  kl: {
    LEADCF21: {
      title: "Professional Accounting",
      options: {
        "ACCA FIA": "ACCA Foundation in Accountancy",
        "ACCA (FT)": "Association of Chartered Certified Accountants",
      },
    },
  },
  penang: {
    LEADCF21: {
      title: "Professional Accounting only available at KL Campus",
      options: {
        "-": "Enquire more",
      },
    },
  },
};
const { homepage_path = `/${microsite_source}`, is_thank_you = false } =
  Astro.props;

// images
import bg_mobile from "@assets/acca/acca-bg-mobile.jpg";
import bg_desktop from "@assets/acca/acca-bg-desktop.jpg";
// import bg_laptop f "@ "@assets/bg/bg-acca-laptop.jpg";
// import bg_desktop from "@assets/bg/bg-acca-desktop.jpg";
// import bg_desktop from "@assets/157322131_m.jpg";

// import form_support from "@assets/acca/form_support2.jpg";
import form_photo from "@assets/acca/acca-form-photo.jpg";

import logo_acca from "@assets/logo/logo-acca_approved_learning_partner.svg";
import logo_acca_cbe from "@assets/logo/logo-acca_cbe_centre.png";
import icon_lecture_screen from "@assets/icon/icon-lecture-screen.svg";
import icon_discussion from "@assets/icon/icon-discussion.svg";
import icon_group_start from "@assets/icon/icon-group-star.svg";
import icon_trackrecord1 from "@assets/icon/business-icon-1.png";
import icon_trackrecord3 from "@assets/icon/business-icon-2.png";
import icon_trackrecord4 from "@assets/icon/business-icon-3.png";
import icon_trackrecord5 from "@assets/icon/business-icon-4.png";

import article_01 from "@assets/acca/partnership-to-empower-future-accountants.jpg";
import article_02 from "@assets/acca/acca-recent-student-achievements.jpg";

import testimonial_lee_shu_li from "@assets/acca/testimonial_lee_shu_li.jpg";
import testimonial_ruphinee from "@assets/acca/testimonial_ruphinee.jpg";
import testimonial_guo_weng from "@assets/acca/testimonial_guo_weng.jpg";
import testimonial_jia_ern from "@assets/acca/testimonial_jia_ern.jpg";
import testimonial_ryan from "@assets/acca/testimonial_ryan.jpg";

// components
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import SectionMasthead from "@components/section-masthead.astro";
import SectionAboutmckl from "@components/section-aboutmckl.astro";
import SectionPartners from "@components/section-partners.astro";
import SectionRegistration from "@components/section-registration.astro";

import CardIcon from "@components/CardIcon.astro";
import CardArticle from "@components/CardArticle.astro";
import BsModal from "@components/BsModal.astro";

import ZohoWebform from "@components/ZohoWebform.vue";
import SwiperTestimonial from "@components/SwiperTestimonial.vue";

// programmes
import * as acca from "../../programmes/acca.md";
import * as acca_fia from "../../programmes/acca_fia.md";

const nav__items = [
  {
    name: "About",
    href: "#about",
  },
  {
    name: "Register Today",
    href: "#registration",
    nav_link_class: "btn btn-danger",
  },
];

const card_acca = [
  {
    img_src: logo_acca,
    title: "International Recognition: <br>The Platinum Status",
    desc: "Personalised classes with two-way interaction between lecturer and students, allowing students to learn and collaborate in an active learning environment.",
  },
  {
    img_src: icon_lecture_screen,
    title: "Great Students Experience",
    desc: "MCKL is one of the Top 3 Institutions in Kuala Lumpur with the Platinum Status Approved Learning Partner (ALP) of ACCA, the most prestigious level of the ALP programme.",
  },
  {
    img_src: icon_discussion,
    title: "Learning Opportunity with Experts",
    desc: "Opportunity to expose and obtain relevant finance and accounting industry experience from multinational company experts.",
  },
  {
    img_src: icon_group_start,
    title: "High Pass Rates",
    desc: "MCKL delivers high-quality teaching to students with proven record of sustaining global pass rates.",
  },
];

const articles_acca = [
  {
    img_src: article_01,
    title: "A Partnership to Empower Future Accountants",
    desc: "Yayasan Jasa Ann Joo partners with MCKL to support Malaysian accountants.",
    link: "https://mckl.edu.my/2022/02/11/a-partnership-to-empower-future-accountants/",
    btn_label: "Read more",
  },
  {
    img_src: article_02,
    title: "MCKL ACCA Students’ Recent Achievements",
    desc: "Congratulations to our students on their achievements!",
    link: "https://mckl.edu.my/2022/03/18/mckl-produces-acca-acca-fia-prize-winner/",
    btn_label: "Read more",
  },
];

const card_track_records = [
  {
    img_src: icon_trackrecord1,
    title: "Globally Recognised",
    desc: "Providing renowned professional pre-university and tertiary programmes.",
  },
  {
    img_src: icon_trackrecord3,
    title: "Industry Revolution 4.0",
    desc: "Operations & learning system in line with the IR 4.0 environment.",
  },
  {
    img_src: icon_trackrecord4,
    title: "Microsoft Recognition",
    desc: "Providing flexibility with 100% blended learning via Microsoft cloud learning system.",
  },
  {
    img_src: icon_trackrecord5,
    title: "MCKL DNA",
    desc: "Nurturing students with Character Formation and Service Learning programmes throughout their studies.",
  },
];

const testimonials = [
  {
    name: "Lee Shu Li",
    desc: ["ACCA, MCKL", "Y.H Goh & CO, Malaysia"],
    quote:
      "I would strongly encourage ACCA students to join MCKL as I enjoyed the college's study environment, its lecturers, the affordable course fee, and most of all, my college friends were like a closely knitted family since we were a small and focused group.",
    img_src: testimonial_lee_shu_li,
  },
  {
    name: "Ruphinee Chandran",
    desc: [
      "ACCA, MCKL",
      "BSc (Hons) Degree in Applied Accounting, Oxford Brookes University",
    ],
    quote:
      "I chose MCKL as it is widely recognised as one of the top tuition providers for CAT and ACCA which made me comfortable to undergo both programmes at the college. Despite the challenging nature of my course, my lecturers guided me throughout the journey, and I also did have my share of fun thanks to a great bunch of friends I made in MCKL.",
    img_src: testimonial_ruphinee,
  },
  {
    name: "Ang Guo Weng",
    desc: ["ACCA, MCKL", ""],
    quote:
      "Before I handed in my admission form to MCKL, I visited many other colleges. While other colleges may have better facilities, I felt something different about MCKL. The way they run the college was not as commercialised and they often put the students' benefit as their main priority.",
    img_src: testimonial_guo_weng,
  },
  {
    name: "Tee Jia En",
    desc: ["ACCA, MCKL", "RCE Capital Berhad"],
    quote:
      "I first completed my F1 paper at a tuition provider and was then moving around different colleges to complete my ACCA studies according to the lecturers' capability, but after completing my F6, F7 and F8 in MCKL, I decided to continue my ACCA journey here due to the facilities, environment and especially the many friends I made.",
    img_src: testimonial_jia_ern,
  },
  {
    name: "Ryan P. Abraham",
    desc: [
      "ACCA, MCKL",
      "BSc (Hons) Degree in Applied Accounting, Oxford Brookes University Methodist College Kuala Lumpur",
    ],
    quote:
      "I studied both CAT and ACCA in MCKL and I am now a lecturer under the ACCA FIA programme here. When I arrived in MCKL, I was immediately taken up not only by the pathway provided, but also the scholarship offered here in MCKL. It is an institution that focuses on the people and how interaction between humans are vital in life.",
    img_src: testimonial_ryan,
  },
];
---

<Layout title={title}>
  <Header
    mckl_logo_only={true}
    homepage_path={homepage_path}
    nav__items={nav__items}
  />

  <main class="main">
    {is_thank_you && <slot name="thank-you" />}

    <SectionMasthead
      bg_mobile={bg_mobile}
      bg_laptop={bg_desktop}
      bg_desktop={bg_desktop}
      bg_img_style="object-position: bottom"
    >
      <div class="container-lg">
        <div
          class="row justify-content-center justify-content-lg-start align-items-center"
        >
          <div class="col-10 col-lg-6">
            <div class="masthead__content text-center text-lg-start ps-lg-3">
              <h1 class="font-weight-bold">
                Accelerate your accounting career with ACCA at MCKL
              </h1>
              <p class="h4">
                Personalised counselling and scholarship available.
              </p>
              <p class="h5">We are open from Mon - Sat, 9am - 5pm.</p>
              <a class="btn btn-secondary btn-lg my-3" href="#registration">
                Enquire Now</a
              >
              <figure
                class="d-flex justify-content-center justify-content-lg-start"
              >
                <img
                  style="aspect-ratio: 1/1;object-fit:contain"
                  class="bg-light shadow-sm me-2 p-1"
                  width="120"
                  src={logo_acca}
                  alt=""
                />
                <img
                  style="aspect-ratio: 1/1;object-fit:contain"
                  class="bg-light shadow-sm me-2 p-4"
                  width="120"
                  src={logo_acca_cbe}
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </SectionMasthead>

    <!-- intro -->
    <section
      class="bg-primary py-4 text-center border-bottom border-secondary text-light text-light__heading"
      style="border-width: 6px !important"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2>Association of Chartered Certified Accountants (ACCA)</h2>
            <!-- <p class="mb-2 h5">{dsw.frontmatter.code_kl}</p> -->
            <!-- <p class="mb-2 h5">Intake: {dsw.frontmatter.intake}</p> -->
            <!-- <p class="mb-2 h5">Intake: 25 August 2023</p> -->
          </div>
        </div>
      </div>
    </section>

    <SectionAboutmckl>
      <section slot="content" class="pt-5 pb-3 text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <h3 class="mb-4 h2">
                Why study <span class="text-danger">ACCA</span> with MCKL?
              </h3>
              <p class="lead">
                ACCA-trained professionals are one of the most sought-after
                finance professionals by employers across the globe. They are
                known to be equipped with strategic thinking, technical skills
                and professional values, and have the ability to deliver across
                every aspect and area of the profession.
              </p>
            </div>
          </div>
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-center my-4"
          >
            {
              card_acca.map((item) => (
                <div class="col mb-3">
                  <CardIcon item={item} />
                </div>
              ))
            }
          </div>
        </div>
      </section>
    </SectionAboutmckl>

    <!-- digital_programme -->
    <section id="programmes" class="programmes__bg py-5">
      <div class="container">
        <div class="row justify-content-center text-center mb-4">
          <div class="col-md-10">
            <h2 class="text-secondary">
              Professional Accounting Programmes with MCKL
            </h2>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col mb-3">
            <div class="card card__dark text-bg-primary h-100">
              <div class="card-body">
                <h3 class="text-secondary">{acca_fia.frontmatter.title}</h3>
                <p>
                  KL: {acca_fia.frontmatter.code_kl}
                </p>
                <p class="fw-bold">Intake: {acca_fia.frontmatter.intake}</p>
                <p>
                  ACCA FIA is the entry level qualification consisting of 7
                  modules. It is the fast-tracked route that allows students to
                  complete the ACCA Qualification in just 3 years.
                </p>
                <p>
                  100% Merit Scholarship Available: Apply with Trial/Forecast
                  result and get your confirmation on the spot*
                </p>

                <p><small><i>*T&amp;C Applies</i></small></p>
              </div>
            </div>
          </div>
          <div class="col mb-3">
            <div class="card card__dark text-bg-primary h-100">
              <div class="card-body">
                <h3 class="text-secondary">{acca.frontmatter.title}</h3>
                <p>
                  KL: {acca.frontmatter.code_kl}
                </p>
                <p class="fw-bold">Intake: {acca.frontmatter.intake}</p>
                <p>
                  ACCA programme is designed to equip students with in-depth
                  knowledge, techniques, and skills in all accounting areas,
                  including financial accounting, assurance, taxation and
                  financial management.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- youtube -->
    <!-- <section id="youtube" class="my-5 text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2>MCKL Accounting Programmes Webinar</h2>
            <p class="lead">Accountants: A Timeless Career</p>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-lg-8">
            <iframe
              class="w-100"
              style="aspect-ratio: 16/9"
              src="https://www.youtube.com/embed/CViTHZ4CYT4"></iframe>
          </div>
        </div>
      </div>
    </section> -->

    <!-- articles -->
    <section id="news_event" class="my-5 pt-3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col text-center">
            <h2>News & Highlights</h2>
            <p class="lead">Highlight of our recent endeavor</p>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 my-3">
          {
            articles_acca.map((item, index) => (
              <div class="col mb-3">
                <CardArticle
                  classes="h-100"
                  id={`dsw_article-${index}`}
                  img_src={item.img_src}
                  title={item.title}
                  desc={item.desc}
                  link={item.desc}
                  btn_label={item.btn_label}
                  img_style="aspect-ratio: 4/3; object-fit: cover"
                >
                  {item.modal ? (
                    <div slot="button">
                      <BsModal
                        id={`dsw_article-${index}--modal`}
                        title={item.title}
                        btn_classes="btn btn-secondary btn-sm"
                        btn_label={item.btn_label}
                      >
                        <img src={item.modal.img_src} alt={item.title} />
                      </BsModal>
                    </div>
                  ) : (
                    <a
                      href={item.link}
                      target="_blank"
                      class="btn btn-secondary btn-sm"
                    >
                      {item.btn_label}
                    </a>
                  )}
                </CardArticle>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <!-- testimonial -->
    <section id="testimonial" class="my-5">
      <div class="container-lg">
        <div class="row text-center">
          <div class="col mb-3">
            <h2>Testimonial</h2>
            <p>Hear from our graduates</p>
          </div>
        </div>
        <div class="row">
          <SwiperTestimonial client:only="vue" content={testimonials} />
        </div>
      </div>
    </section>

    <SectionAboutmckl />

    <!-- track_record -->
    <section id="track_record" class="py-5 text-center">
      <div class="container">
        <div class="row row-cols-1 justify-content-center text-center">
          <h3 class="h4">Over 40 years of Proven Track Record</h3>
        </div>
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-center my-4"
        >
          {
            card_track_records.map((item) => (
              <div class="col mb-4">
                <CardIcon item={item} />
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <!-- <SectionPartners /> -->

    <SectionRegistration
      img_src={form_photo}
      img_style="object-fit: cover; width: 100%; height: 100%; object-position: 60% 20%;"
    >
      <div slot="content">
        <h2 class="h4">Enquire for personal education advice</h2>
        <p>Fill in the form and kick start your education journey with us.</p>
        <ul>
          <li>Up to 100% Merit Scholarship*</li>
          <li>50% Tuition Fee Waiver</li>
          <li>RM 500 rebate voucher*</li>
          <li>Scholarships and financial aids*</li>
          <li>Campus Tour</li>
          <li>Personalised Counselling Sessions</li>
          <li>Complimentary MCKL Career Test</li>
          <li class="list-unstyled">
            <small>*Terms & Conditions apply.</small>
          </li>
        </ul>
        <ZohoWebform
          client:only="vue"
          return_url={return_url}
          microsite_source={microsite_source}
          programme_interested={programme_interested}
        />
      </div>
    </SectionRegistration>
  </main>

  <Footer />
</Layout>

<style lang="scss" is:global>
  .programmes__bg {
    background-image: url("../../assets/bg/bg-acca-programme.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @include media-breakpoint-down(lg) {
    .masthead__picture {
      opacity: 0.5;
      z-index: -1;
    }
  }
</style>
