---
const { content } = Astro.props;

// const test = content.program
// console.log(content.programme_code);
---

<div class="card__programme">
  <h4>
    {content.title}
    {content.new_programme && <sup class="new">NEW</sup>}
  </h4>
  <ul class="code">
    {
      content.code_kl && (
        <li>
          <b>KL</b>: {content.code_kl}
        </li>
      )
    }
    {
      content.code_pg && (
        <li>
          <b>PG</b>: {content.code_pg}
        </li>
      )
    }
  </ul>
  {content.note && <p>{content.note}</p>}
  <p class="intake">Intake: {content.intake}</p>
</div>

<style lang="scss">
  .card__programme {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
  
  ul,
  p {
    margin-bottom: 0.5rem;
  }

  ul.code {
    list-style: none;
    padding: 0;
    li {
      color: $primary;
      font-size: 0.75rem;
    }
  }

  .intake {
    color: $primary;
    font-size: 0.8rem;
    font-weight: 700;
  }

  sup.new {
    color: red;
    font-style: italic;
  }
</style>
