---
const { content, style, compiledContent } = Astro.props;
---

<div class="card__programme" style={style}>
  <h4>
    <span set:html={content.title}></span>
    {content.new_programme && <sup class="new">NEW</sup>}
  </h4>
  {content.after_title && <div set:html={content.after_title} />}
  <ul class="code">
    {
      content.code_kl && (
        <li>
          <b>KL</b>: {content.code_kl}
        </li>
      )
    }
    {
      content.code_pg && (
        <li>
          <b>PG</b>: {content.code_pg}
        </li>
      )
    }
  </ul>

  <!-- discontinue content.note; go with <slot /> -->
  {content.note && <p set:html={content.note}></p>}

  {compiledContent && <div set:html={compiledContent} />}

  <p class="text-primary tw-text-sm tw-font-bold">
    {content.intake && <span>Intake: {content.intake}</span>}
    {
      content.course_duration && (
        <span class="badge bg-primary">
          Course duration – <Fragment set:html={content.course_duration} />
        </span>
      )
    }
  </p>
  <!-- {content.intake && <p class="intake">Intake: {content.intake}</p>} -->
</div>

<style lang="scss">
  .card__programme {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  ul,
  p {
    margin-bottom: 0.5rem;
  }

  ul.code {
    list-style: none;
    padding: 0;
    li {
      color: $primary;
      font-size: 0.55rem;
    }
  }

  .intake {
    color: $primary;
    font-size: 0.8rem;
    font-weight: 700;
  }

  sup.new {
    color: red;
    font-style: italic;
  }
</style>
