---
import campus_logo from "@assets/logo/mckl-campuses-logo.png";
import mckl_logo from "@assets/logo/mckl-logo.png";
import anniversary_logo from "@assets/logo/mckl-40anniversary_masthead-rgb.png";

const { mckl_logo_only = false, homepage_path, nav__items } = Astro.props;
---

<header class="header fixed-top shadow bg-primary">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    aria-label="Fifth navbar example"
  >
    <div class="container">
      <a
        class="navbar-brand tw-flex tw-justify-start !tw-p-0"
        href={homepage_path}
      >
        <figure
          class="anniversary-logo tw-mb-0 tw-mr-2 tw-relative tw-self-baseline"
          style="--anniversary--width: 84px; min-width: var(--anniversary--width);"
        >
          <img
            class="tw-fixed tw-bg-white tw-p-2"
            src={anniversary_logo}
            alt="MCKL 40 Anniversary Logo"
            style="width: var(--anniversary--width); margin-top: -0.5rem"
          />
        </figure>
        {
          mckl_logo_only ? (
            <div class="tw-flex tw-items-center">
              <img
                class="lg:tw-hidden"
                src="/logo/mckl-logo-mobile.svg"
                alt="Logo of Methodist College Kuala Lumpur & Pykett Penang"
                width="48"
              />
              <img
                class="tw-hidden lg:tw-block tw-max-w-[240px]"
                src="/logo/mckl-logo.png"
                alt="Logo of Methodist College Kuala Lumpur"
                width="180"
              />
            </div>
          ) : (
            <div class="tw-flex tw-items-center">
              <img
                class="lg:tw-hidden"
                src="/logo/mckl-logo-mobile.svg"
                alt="Logo of Methodist College Kuala Lumpur & Pykett Penang"
                width="48"
              />
              <img
                class="tw-hidden lg:tw-block tw-max-w-[240px]"
                src="/logo/mckl-logo.png"
                alt="Logo of Methodist College Kuala Lumpur"
                width="180"
              />
              <div class="tw-hidden lg:tw-block tw-border tw-border-r-0 tw-mx-2 tw-border-gray-300 tw-border-solid tw-w-[1px] tw-h-full"></div>
              <img
                class="tw-hidden lg:tw-block tw-max-w-[217px]"
                src="/logo/mckl-pykett-logo.png"
                alt="Logo of Methodist College Pykett, Penang"
                width="217"
              />
            </div>
          )
        }
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar__primary"
        aria-controls="navbar__primary"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar__primary">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {
            nav__items.map((item) => {
              if (!item.children) {
                return (
                  <li
                    class={`nav-item ${
                      item.nav_item_class ? item.nav_item_class : ""
                    }`}
                  >
                    <a
                      class={`nav-link ${
                        item.nav_link_class ? item.nav_link_class : ""
                      }`}
                      href={item.href}
                    >
                      {item.name}
                    </a>
                  </li>
                );
              } else {
                return (
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      {item.name}
                    </a>
                    <ul class="dropdown-menu">
                      {item.children.map((submenu_item) => (
                        <li>
                          <a class="dropdown-item" href={submenu_item.href}>
                            {submenu_item.name}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </li>
                );
              }
            })
          }
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  .navbar-brand tw-py-0 img {
    max-width: clamp(270px, 50vw, 417px);
  }
  .btn.btn-danger {
    font-weight: bold;
  }

  .navbar-brand tw-py-0 {
    display: flex;
    align-items: center;
  }

  /* .anniversary_line {
    position: relative;
    padding: 0 0.5rem;
    margin-left: 0.4rem;
    margin-bottom: 0;
  }
  .anniversary_line:after {
    content: "";
    display: block;
    height: 60%;
    inset: 0 auto 0 0;
    position: absolute;
    background-color: #fff;
    width: 1px;
    margin: auto;
  } */
</style>
