---
// components
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

// import hrd_claimable from "@assets/short-courses/hrd-claimable.png";

// const  = Astro.props;

import { nav__items } from "../../js/short-courses.js";
---

<Layout title="MCKL Short Courses" toast_hide={true}>
    <Header homepage_path="/short-courses" nav__items={nav__items} />
    <main class="main">
        <slot />
    </main>
    <Footer />
</Layout>



<!-- <SectionMasthead
      bg_mobile={bg_mobile}
      bg_laptop={bg_laptop}
      bg_desktop={bg_desktop}
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-md-6">
            <div class="content-box mb-3">
              <p class="text-uppercase"><small>Programme Preview</small></p>
              <h1 class="font-weight-bold mb-2">
                {title}
              </h1>
              {
                frontmatter.intake && (
                  <p class="mb-1">
                    <b>Intake: </b>
                    {frontmatter.intake}
                  </p>
                )
              }
              {
                frontmatter.duration && (
                  <p class="mb-1">
                    <b>Duration: </b>
                    {frontmatter.duration}
                  </p>
                )
              }
              <div class="d-flex justify-content-between align-items-center">
                <a href="#cta" class="btn btn-secondary"> Apply Now</a>
                <a
                  class="btn btn-secondary"
                  target="_blank"
                  href={brochure_url}
                  download>Download Brochure</a
                >
                <img width="96" src={hrd_claimable} alt="hrd_claimable" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <img
              class="img-fluid"
              src={`/featured_img/${course}.jpg`}
              alt={title}
              height="400px"
            />
          </div>
        </div>
      </div>
    </SectionMasthead>

    <section class="my-5">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h2>{frontmatter.info_title}</h2>
            <p>{frontmatter.info_desc}</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <BsAccordion
              client:idle
              show_first={true}
              accordion_id={course}
              accordion_items={frontmatter.accordion_content}
            />
          </div>
        </div>
      </div>
    </section>

    <section class="my-5">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h2>Learn from the Expert who Walks the Talk</h2>
            <p>
              Meet your professional instructor to guide you on your learning
              journey and beyond.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-around my-3"
        >
          {
            filteredTrainers.map((trainer) => {
              return (
                <div class="card card-trainer">
                  <figure class="card-trainer__figure">
                    <img
                      class="card-trainer__img"
                      width="260"
                      height="260"
                      src={`/trainers/${trainer.slug}.png`}
                      alt={`Profile Picture of Trainer ${trainer.name}`}
                    />
                  </figure>
                  <h3>{trainer.name}</h3>
                  <p class="text-muted mb-2">{trainer.role}</p>
                </div>
              );
            })
          }
        </div>
      </div>
    </section>

    <SectionShortcoursesCta preselect_interested_course={frontmatter.form_option} /> -->
<!-- </Layout> -->
