---
import Debug from "astro/components/Debug.astro";
import { getCollection, getEntryBySlug } from "astro:content";

interface Props {
    post: CollectionEntry<"course">;
}

const allCourses = await getCollection("course", ({ data }) => {
    return (
        data.isDraft === false &&
        data.tags.includes("teaching-learning-education-development-courses") &&
        data.tags.includes("short-courses")
    );
});

// const { post } = Astro.props;
---

{
    allCourses.map((item) => (
        <>
            <h1>{item.data.title}</h1>
            <p set:html={item.data.description} />
            {item.data.tags.map((tag) => (
                <li>{tag}</li>
            ))}

            <a href={`/short-courses/${item.slug}`}>Read More {item.slug}</a>
        </>
    ))
}

<pre>
{
    allCourses.map((item) => (
    <>
    "{item.slug}" : "{item.data.title}",
    <br />
    </>
    ))
}
</pre>
